<launch>
    <!-- Hyperparameter -->
    <arg name="map_name" default="hma_wrs"/>
    <arg name="rtabmap" default="false"/>
    <arg name="simulator" default="false"/>
    <arg name="max_distance" default="2.0"/>
    <arg name="tracking" default="true"/>


    <!-- offline slam -->
    <group if="$(arg rtabmap)">
        <include file="$(find tam_slam)/launch/include/rtabmap.launch">
            <arg name="use_sim_time"  default="$(arg simulator)"/>
            <arg name="database_path" default="$(find tam_slam)/map/$(arg map_name).db"/>
            <arg name="localization"  default="true"/>
            <arg name="rviz"  default="false"/>
        </include>
    </group>

    <!-- action recognition -->
    <node pkg="tam_mmaction2" type="action_recognition_server.py" name="action_recognition_server" output="screen">
        <param name="/max_distance" type="double" value="$(arg max_distance)"/>
        <param name="/tracking" type="bool" value="$(arg tracking)"/>
    </node>
    
    <node pkg="rviz" type="rviz" name="rviz_pose_result" args="-d $(find tam_mmaction2)/io/rviz/action_recognition.rviz"/>

</launch>

